.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    margin-bottom: 12px;

    @include font(20px, 700, 23px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-form-input {
    padding-left: 42px;

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    transition: border-color var(--transition-duration) var(--timing-function);

    &:focus {
            border-color: var(--accent-color);
            outline: none;
        }
}

.modal-form-desc {
    display: block;
    margin-bottom: 4px;

    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-field-comment {
    margin-bottom: 20px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--transition-duration) var(--timing-function);

    .modal-form-input:focus+& {
            fill: var(--accent-color);
        }
}

.modal-form-comment {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-duration) var(--timing-function);

    &:focus {
            border-color: var(--accent-color);
            outline: none;
        }

    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
}

/* Checkbox */

.modal-form-check-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @include font(14px, 400, 24px);
    color: var(--text-color);
    cursor: pointer;

    &::before {
            content: '';
            display: block;
            width: 16px;
            height: 15px;
            background-image: url(../images/checkbox/checkbox-icon.svg);
    
            margin-right: 7px;

            .modal-form-check:checked+& {
                    background-color: var(--accent-color);
                    background-image: url(../images/checkbox/checkbox-icon2.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 2px;
            
                    transition: background-image var(--transition-duration) var(--timing-function);
                }
            
                .modal-form-check:focus+& {
                    outline: 1px solid var(--accent-color);
                }
        }

}

.user-policy-link {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    display: inline-block;
    line-height: 0.85;
}

/* Modal-button */

.modal-form-button {
    align-self: center;
    padding: 10px 32px;
    min-width: 200px;
}