@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
    @include font($fs: 28px, $lh: 33px);
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    @include font($fs: 36px, $lh: 42px);
    text-align: center;
  }
}
